@font-face {
  font-family: "iconfont"; /* Project id 3617329 */
  src: url('iconfont.woff2?t=1661948138612') format('woff2'),
       url('iconfont.woff?t=1661948138612') format('woff'),
       url('iconfont.ttf?t=1661948138612') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zuji1:before {
  content: "\e631";
}

.icon-jiantou_liebiaozhankai_o:before {
  content: "\eb8b";
}

.icon-gouwuchekong:before {
  content: "\e601";
}

.icon-shoucang1:before {
  content: "\e666";
}

.icon-dianpu:before {
  content: "\e736";
}

.icon-shoucang:before {
  content: "\eca7";
}

.icon-youjiantou:before {
  content: "\e658";
}

.icon-zuojiantou-:before {
  content: "\e659";
}

.icon-dianpu1:before {
  content: "\e767";
}

.icon-nanzhuang:before {
  content: "\e60e";
}

.icon-nvzhuang:before {
  content: "\e60f";
}

.icon-shouji:before {
  content: "\e692";
}

.icon-weibiaoti2fuzhi13:before {
  content: "\e61b";
}

.icon-xihu:before {
  content: "\e606";
}

.icon-xiezi:before {
  content: "\e608";
}

.icon-shipin:before {
  content: "\e7c7";
}

.icon-zu:before {
  content: "\e615";
}

